* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --bg-color: #2b3035;
  --font-color: #f1f5f9;
  --primary-color: #369159;
}
body {
  background-color: var(--bg-color);
  font-size: 1.3rem;
}
#main {
  margin: 3rem auto;
  max-width: 40rem;
  padding: 1.5rem;
}
#header {
  text-align: center;
  padding: 0.5rem 0;
}
h3 {
  color: var(--font-color);
  font-size: 2rem;
}
.todo {
  color: var(--primary-color);
  font: 2rem;
}
#switchTheme {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  color: var(--font-color);
}
#switchTheme:hover {
  background-color: var(--primary-color);
  color: var(--bg-color);
}
.fieldTaks {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
#inputTask {
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  height: 3rem;
  width: 95%;
  margin-right: 1.5rem;
  caret-color: var(--primary-color);
}
#btnTask {
  width: 13%;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  height: 3rem;
  background-color: transparent;
  color: var(--font-color);
}
#btnTask:hover {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  color: var(--primary-color);
  background-color: var(--bg-task);
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  margin-bottom: 5px;
  font-size: 1.1rem;
}
.task p {
  position: relative;
  top: 7px;
}
.btnArea,
.taskCheck {
  display: flex;
  column-gap: 10px;
}
.taskCheck p {
  margin-top: 2px;
}

.btnArea button {
  height: 2.5rem;
  font-size: 1.1rem;
}
.taskSuccess {
  text-decoration: line-through;
  color: var(--font-color);
}
.normalTask {
  text-decoration: none;
  color: var(--primary-color);
}
